body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.box{
    border: 2px solid #333;
    padding: 20px;
    background-color: #bde75a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    text-align: center;
    width: 300px;
}

h1{
    color: rgb(151, 20, 226);
}

h2{
    text-align: center;
    padding-top: 2px;
}