/* Universal Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(183, 223, 236);
    font-family: italic;
    background-image: url("R.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-attachment: fixed;
    background-position: center;
}

/* Element Selector */

h1{
    color: rgb(10, 41, 174);
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 6px grey;
    text-shadow: 2px 2px 2px red;

    
}

p{
    font-size: 15px;
    text-align: justify;
    margin: 10px 20px;
    line-height: 1.5;
    background-color: rgb(4, 177, 148);
    padding: 10px;
}

/* Class Selector */

.pra1{
    box-shadow: 2px 2px 2px grey;
    border-radius: 15px;
}

/* Id Selector */
#hd1{
    text-shadow: 2px 2px 2px red;
    background-color: rgb(26, 181, 62);
}

/* Group Selector */

h1,p{
    font-weight: bold;
    font-style: italic;
}