.container{
    display: grid;
    grid-template-columns: 100px 200px;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: yellow;
    font-size: 6em;
    text-align: center;
}